.home {
     background-image: url('../assets/homepage_background.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
     background-color: #f8f8f8;

     .home-header { 
          font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
          font-size: 90px;
          color: #F6F4DD;
          text-shadow:  5px 5px 15px black !important;


     }
}


/* login and register buttons */
